<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Carpark Information</title>
</head>

<body>

    <h1>Carpark Information</h1>
    <h2><a href="/">Go Back</a></h2>

    {{.}}
    
    <h2><a href="/logout">Log Out</a></h2>
</body>

</html>